body {
    margin-top:80px;
    text-align: center;
    background-size: cover;
    background-image: url("../img/4.jfif");
    color:white;
    font-size:26px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
    text-decoration: underline;
    margin:0px
    margin-bottom: 10px;

}

/* Create two unequal columns that floats next to each other */
.column {
  padding: 10px;
}
.video {
    border: 2px solid white;
}
.video_col {
    margin-left:5%;
    text-align: center;
    float: left;

}

.info_col {
    border: 2px solid white;
    margin-right:5%;
    height: 80px;
    width:30%;
    float: right;
    height: auto;

}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
